<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="text/html">
    <meta http-equiv="Content-Type">
  </head>
  <body>
    <h1>Hello! </h1>
    <p>
      Your flight has been successfully booked with us. You can view the details
       of your flight <a href="<%= @url %>">by clicking here</a>.
    </p>
    <p>Thanks for using the Odin Flight Booker and have a great day!</p>
  </body>
</html>